In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df[['age']],df.bought_insurance,train_size=0.8)

In [6]:
X_test

    age
9    61
3    52
22   40
21   26
19   18
11   28

In [7]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [8]:
model.fit(X_train, y_train)

LogisticRegression()

In [26]:
y_predicted = model.predict(X_test)

In [27]:
y_predicted

array([1, 1, 1, 0, 0, 0])

In [28]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_predicted)

In [30]:
score

0.2500000000000001

In [31]:
model.score(X_test,y_test)

0.8333333333333334